
* {
    box-sizing: border-box;
}

.body {
    background-color: #ccc;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.header {
    background-color: #eee;
}

.nav {
    background-color: #ddd;
}

.section {
    display: grid;
    background-color: #eee;
}

.article {
    display: grid;
    grid-template-columns: repeat(9, 1fr) ;
    background-color: #eee;
}

.form {

}

.input {
    text-align: center;
    max-width: 80px;

    text-decoration: none;
    border: none;

}

.label {
    color: white;
    background-color: green;

}

.result {
    text-align: center;
}