


.body {
    background-color: #ccc;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.header {
    background-color: #eee;
}

.nav {
    background-color: #ddd;
}

.section {
    display: grid;
    background-color: #eee;
}

.article {
    display: grid;
    grid-template-columns: repeat(7, 1fr) ;
    justify-content: center;
    background-color: #eee;
}

.form {



}

.input {
    text-align: center;

}

.label {
    color: white;
    background-color: green;

}